body {
  margin: 0;
  padding: 0;
  font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.app-container {
  .header-container {
    .btn-login,
    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #837e7ec3;
      transition: 0.25s all linear;
      height: 40px;
    }

    .btn-login {
      margin-right: 15px;
    }

    .btn-signup {
      background-color: #000;
      color: #fff;
    }

    .btn-signup:hover {
      background-color: #303030;
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: blue;
        }
      }
    }
  }
}

video {
  bottom: 0;
  width: 90%;
}

.homepage-container {
  .homepage-content {
    &__title {
      letter-spacing: -0.02em;
      line-height: 100%;
      font-size: 80px;
      font-weight: 400;
    }

    &__subtitle {
      margin-top: 24px;
      font-size: 24px;
      font-weight: 400;

      span {
        line-height: 133%;
      }
    }

    &__btn-start {
      border-radius: 12px;
      padding: 12px 24px;
      border: 1px solid #837e7ec3;
      transition: 0.25s all linear;
      background-color: #000;
      color: #fff;
      margin-top: 40px;
      font-weight: 600;
    }

    &__btn-start:hover {
      background-color: #303030;
    }
  }
}
