body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    z-index: 10;
    opacity: 0.6;
    .navbar-nav {
      .nav-link {
        &.active {
          color: blue;
        }
      }
    }
  }
}

.video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
